.search-bar {
    padding: 2rem;
    display: flex;
}
.series-label {
    display: block;
    width: 50%;

}
.search-bar input {
    padding: 6px;
}
.series-input {
    height: 100px;
    width:50%;
    left: 0;
    bottom: 0;
}
.series-img img{
    width: 100%;
}